@import "~common/styles/variables/fonts";
@import "~common/styles/functions/rem";
@import "~blocks/breakpoints/mixin";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: currentColor;
  font-weight: $font-weight-regular;
  margin: 0 0 0.5em 0;
}

h1,
.h1 {
  font-size: 1.5rem;
  @include breakpoint(xs) {
    font-size: 30px;
  }
}

@for $i from 2 through 6 {
  h#{$i},
  .h#{$i} {
    font-size: (1.5 - $i / 10) * 1rem;
    @include breakpoint(xs) {
      font-size: (30 - 2*$i) * 1px;
    }
  }
}
