footer.footer
    address.footer__address
        | EntertainMeMore
        br
        | 11807 Westheimer 550 PMB617
        br
        | Houston, TX 77077
        br

    p
        a(href="mailto:email@entertainmemore.com" target="_blank") email@entertainmemore.com
    .footer__privacy
        a(href="/privacy" target="_blank") Privacy Policy
