meta(charset='UTF-8')
meta(name='theme-color' content='#efefef')
meta(name='msapplication-TileColor' content='#efefef')
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name='viewport' content='width=device-width,initial-scale=1')
meta(name='description' content=DESCRIPTION)
